/** @format */
#size {
  background: url("../assets/axis.svg");
}

#legend {
  background: url("../assets/axis.svg");
}

#label {
  background: url("../assets/axis.svg");
}

#color {
  background: url("../assets/axis.svg");
}

#title {
  background: url("../assets/axis.svg");
}

#XAxis {
  background: url("../assets/axis.svg");
}

#YAxis {
  background: url("../assets/axis.svg");
}

#grid {
  background: url("../assets/axis.svg");
}

#data {
  background: url("../assets/axis.svg");
}

#download {
  background: url("../assets/axis.svg");
}

#save {
  background: url("../assets/axis.svg");
}
